@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1 class="display-4">Empréstimo Online</h1>
   <p>Abra um livro, deixe-me levar. Um novo mundo voce vai encontrar!</p>
   <br />

   <div>
       <img src="/img/book.png" />
   </div>
</div>
